<!-- TODO: i18n -->
<div style="text-align: center">
  <form ng-submit="login()" name="loginForm" class="login-box form-inline">
    <h1>DDoor</h1>
    <div class="alert-container">
      <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    </div>
    <div class="form-group">
      <label class="sr-only" for="username">Nome do usuário</label>
      <input type="text" my-focus ng-model="username" id="username" name="username" class="form-control" placeholder="Nome do usuário" required>
    </div>
    <div class="form-group">
      <label class="sr-only" for="password">Senha</label>
      <input type="password" ng-model="password" id="password" name="password" class="form-control" placeholder="Senha" required>
    </div>
    <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>